@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;400;500;700;900&display=swap');

@font-face {
    font-family:'Gotham';
    src: url(fonts/gotham-rounded/GothamRounded-Bold.otf);
  }
  .b-example-divider {
    height: 2rem;
    background-color: white;
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
  }
  
:root{
    --fondonegro: #1c1c1d}
/*---------------------------------------------TODO EL DOCUMENTO-----------------------------------*/
*{
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color:white;
}


/*-- Nav --*/
    .botones{
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        align-content: center;
        position: fixed;
        z-index: 10;
        background-image: linear-gradient(0deg, rgba(0,0,0,0), rgba(0,0,0,.5));
        width: 100vw;
        transition: 0.7s;
    }
    nav.botones.bajando{
        background-color: #494ceb;
        background-image: none;
    }
        nav a{
            color:white;
            padding: 14px 20px;
            text-decoration: none;
            margin-left: 10px;
            margin-right: 10px;
            font-size: 1.05rem;
        }
        nav a:hover{
            color: white;
            border-bottom: .1rem solid white;
            padding-bottom: .5rem;
        }
/*-- Nav --*/

/*-- Video --*/
.inicio{
    height: 100vh;
    position:relative;
    padding: 0;
}
    .video1{
        position:absolute;
        width:100%;
        height: 100%;
        object-fit: cover;
        z-index:3;
    }
    .video2{
        position:absolute;
        width:100%;
        height: 100%;
        object-fit: cover;
        z-index:1;
    }
    .capa{
        position:absolute;
        width:100%;
        height:100%;
        background-color: #1c1c1d;
        opacity: 0.5;
        z-index:5;
    }
    .code{
        z-index:6;
        position:absolute;
        top: 50%;
        bottom: 45%;
        left: 5%;
    }
/*-- Video --*/

/*-- Nuestros servicios --*/
.contenedor__nuestrosservicios{
  background: #1c1c1d;
    }
    

    .servicio2{
      flex-direction: row-reverse;
    }
    .contenedor__imagen{
      clip-path: circle();
      height: calc(3rem + 5vw);
    }
    .detalleimagen{
      text-align: center;
    }
    .titulonuestrosservicios{
      text-align: center;
    }
/*-- Nuestros servicios --*/                                              
       


/*----------------VEX MENSUAL START------------------*/   
    .titulocolor{
      background: linear-gradient(to left, #d3cce3, #e9e4f0);  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
    }
    
        
/* Valoraciones START */

.contenedorvaloracion{

    /*background: linear-gradient(to bottom, #021B79, #0575E6); */
    background: #1c1c1d;
  }
  
      
      .contenedorh1valoracion{
        text-align: center;
        background: linear-gradient(to top, #4A00E0, #8E2DE2);  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        font-family: 'Gotham';
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
      }
      .h1valoracion{
        font-size: calc(2.750rem + 3vw);
        font-family: 'Gotham';
      }
      .contenedorboton{
        padding-bottom: 1rem;
        padding-top:1rem;
        text-align: center
      }
      .boton{
        letter-spacing: 0.05rem;
        border-radius: 1rem;
        background: linear-gradient(to top, #396afc, #2948ff);
        font-family: 'Gotham';
        
      }
      .filaopiniones{
        display:flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
      }
          .columna2opiniones{
            display:flex;
            flex-flow: row wrap;
            justify-content: space-around;
          }
                                      .quote{
                                        padding: 1rem;
                                        color:green;
                                      }
                                      .centrarparrafo{
                                        text-align: center;
                                        font-style: italic;
                                        padding-left: 1rem;
                                        padding-right: 1rem;
                                      }    
                                      
                                                    
                                                    .img222{
                                                      clip-path: circle();
                                                      height: calc(3rem + 5vw);
                                                    }
                                                    
                                            .estrella{
                                               
                                                padding: 1rem;
                                            }
                                                .fa-star{
                                                    color:yellow;
                                                }
                                            
    .valoracion1{
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
        border: 0.01rem solid rgba(255, 255, 255, 0.7);
        
    }
  /* Valoraciones END */ 
  
        

/*---------------------------------------------CONTACTO----------------------------------------------------------*/


.imagencontacto{
    background-color: red;
    
}
.metodos{
    display:flex;
}
.fila2metodos{
    background: linear-gradient(to top, #8e2de2, #4a00e0);
    
}
.contacto1{
    display:flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}
.imgmetodos{
    height: calc(1rem + 5vw);
}

/*FORMULARIO*/
.formulario{
    background-color: var(--fondonegro);
    
}
.formulario__googlemap{
  width: 400px;
  height: 300px;
}



/*---------------------------------------------FOOTER + BS----------------------------------------------------------*/
.colorfooter{
    background:linear-gradient(to bottom, #00093c, #2d0b00);
  }
              .nav-link{
                color:white;
              }
            .d-flex{
              
              flex-flow: column;
            }
          .titulocentrado{
            text-align: center;
          }
          
  .filafooter{
    justify-content: space-evenly;
  }
  .btn-group{
    display: flex;
    flex-flow: column wrap;
}
  .columna3{
      display:flex;
      flex-direction: column;
      justify-content: space-between;
  }
.redsocialcolumna3{
    border: 0;
}




  
/*---------------------------------------------WHATSAPP----------------------------------------------------------*/
.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
  	font-size:30px;
  	z-index:100;
	  
}
.float:hover {
	text-decoration: none;
	color: #25d366;
  background-color:#fff;
}

.my-float{
	margin-top:16px;
}

/*---------------------------------------------RESPONSIVE----------------------------------------------------------*/
    
@media only screen and (max-width: 450px){
  /* Inicio */
    .video1{
        position:absolute;
        top: 0;
        left: 0px;
        width:100%;
        height: 100%;
        object-fit: cover;
        z-index:1;
    }
    .video2{
        position:absolute;
        top: 0;
        left: 0px;
        width:100%;
        height: 100%;
        object-fit: cover;
        z-index:3;
    }
    /* Footer */
    .filafooter{
      display:flex;
      flex-flow:column wrap;
    }
    
    .d-flex{
      flex-flow: column wrap;
    }

    /* Index.html - Valoraciones */
    .columna2opiniones{
      display:flex;
      flex-flow: column wrap;
      justify-content: center;
      align-items: center;
    }
    .valoracion1{
      width: 90%;
    }
    
    /* Contacto.html */
    .fila2metodos{
      flex-flow: column;
    }
    .contacto1{
      width:100% !important;
    }
    /* formulario */
    .formulario__googlemap{
      width: 200px;
      height: 150px;
    }
    

}

@media only screen and (max-width: 1100px){
  .formulario{
    flex-flow: column wrap;
  }
  
}