/*-- All --*/
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;400;500;700;900&display=swap");
@font-face {
  font-family: 'Gotham';
  src: url(fonts/gotham-rounded/GothamRounded-Bold.otf); }

.b-example-divider {
  height: 1rem;
  background-color: white;
  border: solid rgba(0, 0, 0, 0.15);
  border-width: 1px 0;
  box-shadow: inset 0 0.5em 1.5em rgba(0, 0, 0, 0.1), inset 0 0.125em 0.5em rgba(0, 0, 0, 0.15); }

:root {
  --fondonegro: #1c1c1d; }

* {
  font-family: 'Raleway', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white; }

body, html {
  margin: 0;
  padding: 0; }

/*-- All --*/
/*-- index.html - fondo del inicio start --*/
.banner {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(assets/fondoindex.png);
  background-size: cover;
  background-position: center; }

.content {
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translatey(-50%);
  color: #fff; }

.parrafoprincipal {
  line-height: 25px; }

button {
  width: 200px;
  padding: 15px 0;
  text-align: center;
  margin: 20px 10px;
  border-radius: 25px;
  font-weight: bold;
  border: 2px solid #fff;
  background: transparent;
  cursor: pointer;
  color: #fff;
  position: relative;
  overflow: hidden; }

.spansito {
  background: #494ceb;
  height: 100%;
  width: 0;
  border-radius: 25px;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
  transition: 0.5s; }

.spansito2 {
  background: #131212;
  height: 100%;
  width: 0;
  border-radius: 25px;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
  transition: 0.5s; }

button:hover span {
  width: 100%; }

button:hover {
  border: none; }

/*-- index.html - fondo del inicio end --*/
/*-- index.html - our services start --*/
.image {
  position: relative;
  width: 500px;
  padding: 0; }

a {
  text-decoration: none;
  color: #fff; }

.image__img {
  display: block;
  width: 100%; }

.image__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.25s; }

.image__overlay > * {
  transform: translatey(1rem);
  transition: transform 0.25s; }

.image__title {
  font-size: 2rem;
  font-weight: bold; }

.image__description {
  font-size: 1.25rem; }

.image__overlay:hover {
  opacity: 1; }

.image__overlay:hover > * {
  transform: translatey(0); }

/*-- index.html - our services start --*/
/*VEX.html - Our team*/
.heading {
  font-size: 4rem;
  color: white; }

.profiles {
  display: flex;
  justify-content: space-around;
  margin: 20px 80px; }

.profile {
  flex-basis: 260px; }

.profile .profile-img {
  height: 260px;
  width: 260px;
  border-radius: 50%;
  filter: grayscale(100%);
  cursor: pointer;
  transition: 400ms; }

.profile:hover .profile-img {
  filter: grayscale(0); }

.user-name {
  margin-top: 30px;
  font-size: 35px; }

.profile h5 {
  font-size: 18px;
  font-weight: 100;
  letter-spacing: 3px;
  color: #ccc; }

.profile p {
  font-size: 16px;
  margin-top: 20px;
  text-align: justify; }

@media only screen and (max-width: 1150px) {
  .profiles {
    flex-direction: column; }
  .profile {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .profile p {
    text-align: center;
    margin: 20px 60px 80px 60px;
    font-size: 20px; } }

@media only screen and (max-width: 900px) {
  .heading {
    font-size: 40px;
    color: white;
    text-align: center; }
  .heading span {
    font-size: 15px; }
  .profiles {
    margin: 20px 0; }
  .profile p {
    margin: 20px 10px 80px 10px; } }

/*VEX.html - Our team*/
/*VEX.html - Timeline*/
.justificar {
  text-align: justify; }

/* Timeline holder */
ul.timeline {
  list-style-type: none;
  position: relative;
  padding-left: 1.5rem; }

/* Timeline vertical line */
ul.timeline:before {
  content: ' ';
  background: #fff;
  display: inline-block;
  position: absolute;
  left: 16px;
  width: 4px;
  height: 100%;
  z-index: 400;
  border-radius: 1rem; }

li.timeline-item {
  margin: 20px 0; }

/* Timeline item arrow */
.timeline-arrow {
  border-top: 0.5rem solid transparent;
  border-right: 0.5rem solid #fff;
  border-bottom: 0.5rem solid transparent;
  display: block;
  position: absolute;
  left: 2rem; }

/* Timeline item circle marker */
li.timeline-item::before {
  content: ' ';
  background: #ddd;
  display: inline-block;
  position: absolute;
  border-radius: 50%;
  border: 3px solid #fff;
  left: 11px;
  width: 14px;
  height: 14px;
  z-index: 400;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); }

.fondohistoria {
  background: linear-gradient(to top, #0575e6, #021b79); }

/*VEX.html - Timeline*/
/*ServicioVEX.html - FAQ*/
.contenedor {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: #1c1c1d; }

.contenedor2 {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center; }

.border244 {
  background-color: #2948ff;
  width: 20rem;
  height: .4rem; }

.accordion {
  width: 80%; }

.accordion .contentbox .label {
  color: #fff;
  cursor: pointer; }

.accordion .contentbox .label::before {
  content: '+';
  position: absolute;
  top: -5%;
  right: 1.5rem;
  transform: transateY(-50%);
  font-size: 2rem; }

.accordion .contentbox.active .label::before {
  content: '-'; }

.accordion .contentbox .contentsito {
  position: relative;
  height: 0;
  overflow: hidden;
  transition: 0.5s ease-in;
  overflow-y: auto; }

.accordion .contentbox.active .contentsito {
  height: fit-content;
  padding: 0.5rem; }

/*ServicioVEX.html - FAQ*/
/*-- Nav --*/
.botones {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  position: fixed;
  z-index: 10;
  width: 100vw;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
  transition: 0.7s; }

nav.botones.bajando {
  background-color: #494ceb;
  background-image: none; }

nav a {
  color: white;
  padding: 14px 20px;
  text-decoration: none;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 1.05rem; }

nav a:hover {
  color: white;
  border-bottom: .1rem solid white;
  padding-bottom: .5rem; }

/*-- Nav --*/
/*-- Index - Video --*/
.inicio {
  height: 100vh;
  position: relative;
  width: 100vw;
  overflow: hidden; }

.video1 {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 3; }

.video2 {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1; }

.code {
  z-index: 6;
  position: absolute;
  top: 50%;
  bottom: 45%;
  left: 5%; }

/*-- Index - Video --*/
/*-- Index - Nuestros servicios --*/
.servicio2 {
  flex-direction: row-reverse; }

.contenedor__imagen {
  clip-path: circle();
  height: calc(3rem + 5vw); }

.detalleimagen {
  text-align: center; }

.titulonuestrosservicios {
  text-align: center; }

/*-- Index - Nuestros servicios --*/
/*-- Index - VEX mensual --*/
.titulocolor {
  background: linear-gradient(to left, #d3cce3, #e9e4f0);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text; }

/*-- Index - VEX mensual --*/
/*-- Index - Valoraciones --*/
.contenedorvaloracion {
  background: #1c1c1d; }

.h1valoracion {
  font-size: calc(2.750rem + 3vw);
  font-family: 'Gotham'; }

.contenedorboton {
  padding-bottom: 1rem;
  padding-top: 1rem;
  text-align: center; }

.boton {
  letter-spacing: 0.05rem;
  border-radius: 1rem;
  background: linear-gradient(to top, #396afc, #2948ff);
  font-family: 'Gotham'; }

.filaopiniones {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center; }

.columna2opiniones {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around; }

.quote {
  padding: 1rem;
  color: green; }

.centrarparrafo, .centrarparrafo2 {
  text-align: center;
  font-style: italic;
  padding-left: 1rem;
  padding-right: 1rem; }

.img222 {
  clip-path: circle();
  height: calc(3rem + 5vw); }

.estrella {
  padding: 1rem; }

.fa-star {
  color: yellow; }

.valoracion1 {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  border: 0.01rem solid rgba(255, 255, 255, 0.7); }

/*-- Index - Valoraciones --*/
/*-- Footer --*/
.colorfooter {
  background: linear-gradient(to bottom, #00093c, #2d0b00); }

.nav-link {
  color: white; }

.d-flex {
  flex-flow: column; }

.titulocentrado {
  text-align: center; }

.filafooter {
  justify-content: space-evenly; }

.btn-group {
  display: flex;
  flex-flow: column wrap; }

.redsocialcolumna3 {
  border: 0; }

/*-- Footer --*/
/*-- Contacto --*/
.imagencontacto {
  background-color: red;
  padding: 0px !important; }

.metodos {
  display: flex; }

.fila2metodos {
  background-color: #1c1c1d; }

.contacto1 {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center; }

.imgmetodos {
  height: calc(1rem + 5vw); }

/*-- Contacto - Formulario --*/
.formulario {
  background-color: var(--fondonegro); }

.formulario__googlemap {
  width: 100%;
  height: 400px; }

/*-- Contacto --*/
/*-- Valoraciones --*/
.fondoheroevaloracion {
  background: linear-gradient(to top, #8e2de2, #4a00e0);
  opacity: 0.8; }

.iniciovaloraciones {
  position: relative;
  padding: 0; }

.imgvaloracion {
  clip-path: circle();
  height: calc(3rem + 5vw); }

.centrarparrafo2 {
  color: black; }

.fondovaloracion {
  background-color: #1c1c1d;
  justify-content: space-around; }

.tituloheroevaloracion {
  font-size: calc(1rem + 3vw);
  font-family: 'Gotham'; }

.leadeater {
  font-size: calc(0.5rem + 1vw);
  font-weight: 300; }

/*-- Valoraciones --*/
/*-- Servicio VEX --*/
.neg {
  color: black; }

.hpo {
  height: 100vh; }

div.pricing {
  /*--background: #007bff;
  background: linear-gradient(to right, #0062E6, #33AEFF); --*/
  background: #1c1c1d; }

.pricing .card {
  border: none;
  border-radius: 1rem;
  transition: all 0.2s;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1); }

.pricing hr {
  margin: 1.5rem 0; }

.pricing .card-title {
  margin: 0.5rem 0;
  font-size: 0.9rem;
  letter-spacing: .1rem;
  font-weight: bold; }

.pricing .card-price {
  font-size: 3rem;
  margin: 0; }

.pricing .card-price .period {
  font-size: 0.8rem; }

.pricing ul li {
  margin-bottom: 1rem; }

.pricing .text-muted {
  opacity: 0.7; }

.pricing .btn {
  font-size: 80%;
  border-radius: 5rem;
  letter-spacing: .1rem;
  font-weight: bold;
  padding: 1rem;
  opacity: 0.7;
  transition: all 0.2s; }

/*-- Servicio VEX --*/
/*---------------------------------------------WHATSAPP----------------------------------------------------------*/
.float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: #25d366;
  color: #FFF;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  z-index: 100; }

.float:hover {
  text-decoration: none;
  color: #25d366;
  background-color: #fff; }

.my-float {
  margin-top: 16px; }

/*---------------------------------------------RESPONSIVE----------------------------------------------------------*/
@media only screen and (max-width: 450px) {
  /* Inicio */
  .video1 {
    position: absolute;
    top: 0;
    left: 0px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1; }
  .video2 {
    position: absolute;
    top: 0;
    left: 0px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 3; }
  /* Footer */
  .filafooter {
    display: flex;
    flex-flow: column wrap; }
  .d-flex {
    flex-flow: column wrap; }
  /* Index.html - Valoraciones */
  .columna2opiniones {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center; }
  .valoracion1 {
    width: 90%; }
  /* Contacto.html */
  .fila2metodos {
    flex-flow: column; }
  .contacto1 {
    width: 100% !important; }
  /* formulario */
  .formulario__googlemap {
    width: 100%; }
  .leadeater {
    font-size: calc(0.75rem + 2vw);
    font-weight: 300; } }

@media only screen and (max-width: 1100px) {
  .formulario {
    flex-flow: column wrap; } }

@media (min-width: 992px) {
  .pricing .card:hover {
    margin-top: -.25rem;
    margin-bottom: .25rem;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.3); }
  .pricing .card:hover .btn {
    opacity: 1; } }
